<!DOCTYPE html>

<html lang="en-us">

<head>
  <title>Select question_bank to change | Django site admin</title>
  <link rel="stylesheet" type="text/css" href="/static/questionbank/style.css">


  <link rel="stylesheet" type="text/css" href="/static/questionbank/sstyle.css">


  <script type="text/javascript" src="/admin/jsi18n/"></script>







  <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
  <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
  <script type="text/javascript" src="/static/admin/js/core.js"></script>
  <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
  <script type="text/javascript" src="/static/admin/js/actions.js"></script>
  <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
  <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
  <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>


  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">


  <meta name="robots" content="NONE,NOARCHIVE">
  <style>
 #bh:hover{
   background-color:  #417690;
 }
 #bh{
   background-color:  #999999;
 }
    
  </style>
</head>


<body class=" app-blog model-question_bank change-list" data-admin-utc-offset="19800">
  <div id="header">
    <div id="branding">
    
<h1 id="site-name"><a href="/admin/" style="margin-top: 7px;">Django administration</a></h1>

    </div>
    
    
    <div id="user-tools">
        
            Welcome,
            <strong>{{request.user.username}}</strong>.
        
        

            <a href="/questionbank">Home</a>
            
            <a href="/admin/logout/">Log out</a>
        
    </div>
    
    
    
</div>

  <!-- Container -->
  <div id="container">


    <!-- Header -->
    <div id="header">
      <div id="branding">



      </div>






    </div>
    <!-- END Header -->







    <!-- Content -->
    <div id="content" class="flex">

      <h1>Select Question to import</h1>

      <div id="content-main">

        <ul class="object-tools">


          <a href="#" onclick="applyFilter()" class="addlink" style="height: 22px; cursor: pointer;">
            Export selected questions
          </a>

        </ul>


        <div class="module filtered" id="changelist">







          <div id="changelist-filter">
            <h2>Filter</h2>

            <h3> By subject tag </h3>
            <ul>

              <li class="selected">
                <a href="?" title="All">All</a>
              </li>
              {% for value in subjects %}
              <li>
                <a href="?subject_tag={{value}}" title="{{value}}">{{value}}</a>
              </li>
              {% endfor %}
            </ul>

            <h3> By topic tag </h3>
            <ul>

              <li class="selected">
                <a href="?" title="All">All</a>
              </li>
              {% for value in topics %}
              <li>
                <a href="?topic_tag={{value}}" title="{{value}}">{{value}}</a>
              </li>
              {% endfor %}

            </ul>

            <h3> By subtopic tag </h3>
            <ul>

              <li class="selected">
                <a href="?" title="All">All</a>
              </li>
              {% for i in subtopics %}
              <li>
                <a href="?subtopic_tag={{value}}" title="{{value}}">{{value}}</a>
              </li>
              {% endfor %}

            </ul>

            <h3> By dificulty tag </h3>
            <ul>

              <li class="selected">
                <a href="?" title="All">All</a>
              </li>
              {% for i in dificulty %}
              <li>
                <a href="?dificulty={{i}}" title="{{i}}">{{i}}</a>
              </li>
              {% endfor %}

            </ul>

            <h3> By skill </h3>
            <ul>

              <li class="selected">
                <a href="?" title="All">All</a>
              </li>
              {% for value in skill %}
              <li>
                <a href="?skill={{value}}" title="{{value}}">{{value}}</a>
              </li>
              {% endfor %}

            </ul>

          </div>



          <form id="changelist-form" method="post" novalidate><input type="hidden" name="csrfmiddlewaretoken"
              value="GkUBS8pKTOC0h0Xc8nVI56lQr8kGhPm70KKDfdsGC3fF68tXrSyy0fN2BMHf45WE">





            <div class="results">
              <table id="result_list">
                <thead>
                  <tr>

                    <th scope="col" class="action-checkbox-column">

                      <div class="text"><span><input type="checkbox" id="action-toggle"></span></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-question">



                      <div class="text"><a href="?o=1">Question</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-correct_marks">



                      <div class="text"><a href="?o=2">Correct marks</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-negative_marks">



                      <div class="text"><a href="?o=3">Negative marks</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-subject_tag">



                      <div class="text"><a href="?o=4">Subject tag</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-topic_tag">



                      <div class="text"><a href="?o=5">Topic tag</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-subtopic_tag">



                      <div class="text"><a href="?o=6">Subtopic tag</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-dificulty_tag">



                      <div class="text"><a href="?o=7">Dificulty tag</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-skill">



                      <div class="text"><a href="?o=8">Skill</a></div>
                      <div class="clear"></div>
                    </th>
                  </tr>
                </thead>
                <tbody>

                  {% for i in questions %}

                  {% if subject_filter != "" %}

                   {% if i.subject_tag == subject_filter %}
                  <tr class="row1">
                    <td class="action-checkbox"><input type="checkbox" name="_selected_action"
                        value="[{{i.question}},{{i.correct_marks}},{{i.negative_marks}},{{i.subject_tag}},{{i.topic_tag}},{{i.subtopic_tag}},{{i.dificulty_tag}},{{i.skill}},{{i.text}},{{i.answer}},{{i.option}}]" class="action-select"></td>
                    <th class="field-question"><a
                        href="/questionbank/{{i.id}}/change/">{{i.question |truncatechars:255 }}</th>
                    <td class="field-correct_marks">{{i.correct_marks}}</td>
                    <td class="field-negative_marks">{{i.negative_marks}}</td>
                    <td class="field-subject_tag">{{i.subject_tag}}</td>
                    <td class="field-topic_tag">{{i.topic_tag}}</td>
                    <td class="field-subtopic_tag">{{i.subtopic_tag}}</td>
                    <td class="field-dificulty_tag">{{i.dificulty_tag}}</td>
                    <td class="field-skill">{{i.skill}}</td>
                  </tr>
                  {% endif %}

                  {% elif topic_filter != "" %}

                   {% if i.topic_tag == topic_filter %}
                  <tr class="row1">
                    <td class="action-checkbox"><input type="checkbox" name="_selected_action"
                        value="[{{i.question}},{{i.correct_marks}},{{i.negative_marks}},{{i.subject_tag}},{{i.topic_tag}},{{i.subtopic_tag}},{{i.dificulty_tag}},{{i.skill}},{{i.text}},{{i.answer}},{{i.option}}]" class="action-select"></td>
                    <th class="field-question"><a
                        href="/questionbank/{{i.id}}/change/">{{i.question |truncatechars:255 }}</th>
                    <td class="field-correct_marks">{{i.correct_marks}}</td>
                    <td class="field-negative_marks">{{i.negative_marks}}</td>
                    <td class="field-subject_tag">{{i.subject_tag}}</td>
                    <td class="field-topic_tag">{{i.topic_tag}}</td>
                    <td class="field-subtopic_tag">{{i.subtopic_tag}}</td>
                    <td class="field-dificulty_tag">{{i.dificulty_tag}}</td>
                    <td class="field-skill">{{i.skill}}</td>
                  </tr>
                  {% endif %}


                  {% elif subtopic_filter != "" %}
                   {% if i.subtopic_tag == subtopic_filter %}
                  <tr class="row1">
                    <td class="action-checkbox"><input type="checkbox" name="_selected_action"
                        value="[{{i.question}},{{i.correct_marks}},{{i.negative_marks}},{{i.subject_tag}},{{i.topic_tag}},{{i.subtopic_tag}},{{i.dificulty_tag}},{{i.skill}},{{i.text}},{{i.answer}},{{i.option}}]" class="action-select"></td>
                    <th class="field-question"><a
                        href="/questionbank/{{i.id}}/change/">{{i.question |truncatechars:255 }}</th>
                    <td class="field-correct_marks">{{i.correct_marks}}</td>
                    <td class="field-negative_marks">{{i.negative_marks}}</td>
                    <td class="field-subject_tag">{{i.subject_tag}}</td>
                    <td class="field-topic_tag">{{i.topic_tag}}</td>
                    <td class="field-subtopic_tag">{{i.subtopic_tag}}</td>
                    <td class="field-dificulty_tag">{{i.dificulty_tag}}</td>
                    <td class="field-skill">{{i.skill}}</td>
                  </tr>
                  {% endif %}

                  {% elif dificulty_filter != "" %}

                   {% if i.dificulty_tag == dificulty_filter %}
                  <tr class="row1">
                    <td class="action-checkbox"><input type="checkbox" name="_selected_action"
                        value="[{{i.question}},{{i.correct_marks}},{{i.negative_marks}},{{i.subject_tag}},{{i.topic_tag}},{{i.subtopic_tag}},{{i.dificulty_tag}},{{i.skill}},{{i.text}},{{i.answer}},{{i.option}}]" class="action-select"></td>
                    <th class="field-question"><a
                        href="/questionbank/{{i.id}}/change/">{{i.question |truncatechars:255 }}</th>
                    <td class="field-correct_marks">{{i.correct_marks}}</td>
                    <td class="field-negative_marks">{{i.negative_marks}}</td>
                    <td class="field-subject_tag">{{i.subject_tag}}</td>
                    <td class="field-topic_tag">{{i.topic_tag}}</td>
                    <td class="field-subtopic_tag">{{i.subtopic_tag}}</td>
                    <td class="field-dificulty_tag">{{i.dificulty_tag}}</td>
                    <td class="field-skill">{{i.skill}}</td>
                  </tr>
                  {% endif %}

                  {% elif skill_filter != "" %}

                   {% if i.skill_tag == skill_filter %}
                  <tr class="row1">
                    <td class="action-checkbox"><input type="checkbox" name="_selected_action"
                        value="[{{i.question}},{{i.correct_marks}},{{i.negative_marks}},{{i.subject_tag}},{{i.topic_tag}},{{i.subtopic_tag}},{{i.dificulty_tag}},{{i.skill}},{{i.text}},{{i.answer}},{{i.option}}]" class="action-select"></td>
                    <th class="field-question"><a
                        href="/questionbank/{{i.id}}/change/">{{i.question |truncatechars:255 }}</th>
                    <td class="field-correct_marks">{{i.correct_marks}}</td>
                    <td class="field-negative_marks">{{i.negative_marks}}</td>
                    <td class="field-subject_tag">{{i.subject_tag}}</td>
                    <td class="field-topic_tag">{{i.topic_tag}}</td>
                    <td class="field-subtopic_tag">{{i.subtopic_tag}}</td>
                    <td class="field-dificulty_tag">{{i.dificulty_tag}}</td>
                    <td class="field-skill">{{i.skill}}</td>
                  </tr>
                  {% endif %}

                  {% else %}
                  <tr class="row1">
                    <td class="action-checkbox"><input type="checkbox" name="_selected_action"
                        value="[{{i.question}},{{i.correct_marks}},{{i.negative_marks}},{{i.subject_tag}},{{i.topic_tag}},{{i.subtopic_tag}},{{i.dificulty_tag}},{{i.skill}},{{i.text}},{{i.answer}},{{i.option}}]" class="action-select"></td>
                    <th class="field-question"><a
                        href="/questionbank/{{i.id}}/change/">{{i.question |truncatechars:255 }}</th>
                    <td class="field-correct_marks">{{i.correct_marks}}</td>
                    <td class="field-negative_marks">{{i.negative_marks}}</td>
                    <td class="field-subject_tag">{{i.subject_tag}}</td>
                    <td class="field-topic_tag">{{i.topic_tag}}</td>
                    <td class="field-subtopic_tag">{{i.subtopic_tag}}</td>
                    <td class="field-dificulty_tag">{{i.dificulty_tag}}</td>
                    <td class="field-skill">{{i.skill}}</td>
                  </tr>
                  {% endif %}
          {% endfor %}


                </tbody>
              </table>
            </div>






            <p class="paginator">

              {{questions.count }} question_banks


            </p>

          </form>
        </div>
      </div>


      <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
  </div>
  <!-- END Container -->

</body>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    
    const applyFilter = () => {
        let querySet = Array();
        $("input:checkbox[name=_selected_action]:checked").each(function () {
            querySet.push($(this).val());
        });
        
        console.log(querySet);
        if (querySet.length != 0) {
           $.post("/exportquestions",{
             "questions":JSON.stringify(querySet),
             "csrfmiddlewaretoken":"{{csrf_token}}"
           },(data,status)=>{
             console.log(data);
           })
        }
    }



</script>
</html>